{% extends 'base.html' %}
{% load static %}
{% block title %}
    POS
{% endblock %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
            <div class="col-md-4 col-sm-12">
                <!-- form input mask -->
                <div class="billing">
                {% include 'includes/pos_include.html' %}
                </div>
            </div>
                <div class="col-md-8 col-sm-12">
                    <div class="x_panel products_panel" style="height: 100%">
                        <div class="x_content products_content">
                            <br/>
                            <div class="row">
                                {% for storeproduct in storeproducts %}
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="view-first py-0 mb-0">
                                            {% if storeproduct.product.image.url %}
                                                <a class="product" href="#" data-pid="{{ storeproduct.product.id }}" data-sid="{{ sale.saleitems.id }}" data-url="{% url 'create-sale-product' storeproduct.product.id %}" data-user="{{ user.id }}" data-register_id="{{ register.id }}"><img style="width: 100%; display: block; height: 100px" src="{{storeproduct.product.image.url}}"
                                                 alt="image"/></a>
                                            {% else %}
                                                <img style="width: 100%; display: block;" src="#"
                                                 alt="image"/>
                                            {% endif %}
                                        </div>
                                        <div class="caption text-center">
                                            <p>{{ storeproduct.product.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
{% block scripts %}
    <script src="{% static 'custom_js/custom_pos.js' %}"></script>
{% endblock %}
