{% extends 'base.html' %}
{% load static %}
{% block title %}
    List Users
{% endblock %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>All Users <small>List of all the users</small></h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>All Users<small>List</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">
                                        <p class="text-muted font-13 m-b-30">
                                            List of all the users created
                                        </p>

                                        <table id="datatable-responsive"
                                               class="table table-striped table-bordered dt-responsive nowrap"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Group</th>
                                                <th>Store</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                <tr>
                                                    <td>{{ user.first_name }}</td>
                                                    <td>{{ user.last_name }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{{ user.group }}</td>
                                                    <td>{{ user.store }}</td>
                                                    <td>{{ user.status }}</td>
                                                    <td class="text-center" style="padding:6px;">
                                                        <div class="btn-group btn-group-justified" role="group">
                                                            <div class="btn-group btn-group-xs" role="group">
                                                                <a class="tip btn btn-warning btn-xs" title="Profile"
                                                                   href="https://spos.tecdiary.net/users/profile/2"><i
                                                                        class="fa fa-edit"></i></a>
                                                            </div>
                                                            <div class="btn-group btn-group-xs" role="group">
                                                                <a class="tip btn btn-danger btn-xs" title="Delete User"
                                                                   href="https://spos.tecdiary.net/auth/delete/2"
                                                                   onclick="if (!window.__cfRLUnblockHandlers) return false; return confirm('You are going to remove this user permanently. Press OK to proceed and Cancel to Go Back')"><i
                                                                        class="fa fa-trash-o"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}