{% load static %}
<div class="x_panel min-vh-100">
    <div class="x_content">
        <br/>
        <div class="x_content" style="min-height: 60vh">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {% for saleitem in sale.saleitems.all %}
                    <input id="saleId" type="hidden" data-sid="{{ saleitem.sale.id }}">
                    <tr>
                        <td class="saleitem_name text-center">{{ saleitem.product.name }}</td>
                        <td class="saleitem_price text-center">{{ saleitem.price }}</td>
                        <td class="saleitem_price text-center">{{ saleitem.quantity }}</td>
                        <td class="saleitem_subtotal text-center">{{ saleitem.total }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
        <div class="x_content px-0 mb-0 py-0">
            <div class="table-responsive py-0 mb-0">
                <table class="table table-striped jambo_table bulk_action">
                    <tbody>
                    <tr>
                        <td class="text-left" style="width:25%"><b>Total Items</b></td>
                        <td class="text-right" style="width:25%">{{ sale.total_items }}</td>
                        <td class="text-left" style="width:25%"><b>Total</b></td>
                        <td class="text-right" style="width:25%">{{ sale.total_price }}</td>
                    </tr>
                    <tr>
                        <td class="text-left text-primary" style="width:25%"><b>Discount</b>
                        </td>
                        <td class="text-right" style="width:25%">{{ sale.discount }}</td>
                        <td class="text-left text-primary" style="width:25%"><b>Order Tax</b>
                        </td>
                        <td class="text-right" style="width:25%">{{ sale.order_tax }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="x_content px-0">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <tbody>
                    <tr>
                        <td class="text-left" style="width:50%">Total Payable <a
                                role="button" data-toggle="modal" data-target="#noteModal">
                            <i class="fa fa-comment"></i>
                        </a></td>
                        <td class="text-right" style="width:50%">{{ sale.total_payable }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

