<div class="x_panel bg-info">
    <div class="x_content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Unit Cost</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center"><i class="fa fa-trash-o"></i></th>
            </tr>
            </thead>
            <tbody>
            <input id="po_id" type="hidden" data-po_id="{{ purchase_order.id }}">
            {% for purchaseorderitem in purchase_order.purchaseorderitems.all %}
            <tr>
                <th class="text-center">{{purchaseorderitem.product}}</th>
                <td id="poi_quantity_in" class="text-center"><input id="poi_quantity" data-url="{% url 'edit-purchase-order' %}" class="text-center" type="number" value="{{ purchaseorderitem.quantity }}"></td>
                <td id="poi_price_in" class="text-center"><input id="poi_price" class="text-center" type="number" value="{{ purchaseorderitem.price }}"></td>
                <td id="poi_total" class="text-center">{{ purchaseorderitem.total }}</td>
                <td id="delete_saleitem" class="saleitem_subtotal text-center"><a class="btn-del"
                                    data-url="{% url 'delete-purchase-order-item' %}" href="#" data-it_id="{{ purchaseorderitem.id }}"><i
                                    class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Total:</th>
                <th class="text-center">{{purchase_order.total}}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
